header,footer, #content,#loader{
	margin: 0 auto;
	text-align: center;
}

body{
	background-color: #1e3;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}
#content{
	background-color: #2f4;
	z-index: 4;
}
#loader{
	z-index: 5;
}
.hidden{
	display: none;
}
.padding{
	padding: .5em;
	margin: .5em;
	display: inline-block;
	border-radius: .5em;
	background-color: #eee;
	white-space: normal;
	width: 15em;
	vertical-align: top;
}
.card img{
	/* Fixed image size */
	text-align: center;
	width: 8em;
	height: 6em;
	background: no-repeat center scroll;
	
}
.card-click{
	display: block;
}

#recipe-display{
	position: absolute;
	width: 60%;
	height: 80%;
	top: 10%;
	left: 20%;
	margin: 0 auto;
	z-index: 10;
	background-color: #fff;
	border-radius: 2em;
	border-top-right-radius: 0em;
	border-bottom-right-radius: 0em;
	border-style: inset;
	overflow: auto;
	overflow-x: hidden;
	white-space: normal;
	margin: 1em;

}
#recipe-display .recipe{
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	margin-left: 1em;
	
}

h4.difficulty.Easy{ color: #0f0; }
h4.difficulty.Medium{ color: #00f; }
h4.difficulty.Hard{ color: #f00; }